<div *ngFor="let d of questionsData; let i = index" class="mt-4">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
         Question {{i + 1}}
        </mat-panel-title>
        <mat-panel-description>
          {{d.question}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{d.answer}}</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
